<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="fields-wrapper">
    <div class="row">
      <div class="col">Field Name</div>
      <div class="col">Type</div>
    </div>
    <ng-container #f *ngFor="let rowId of rows; let i = index;">
      <app-field-input-component [wrapper]="this" [rowId]="rowId" (formUpdated)="handleFormUpdated($event)"></app-field-input-component>
    </ng-container>
    <button #btnAdd class="btn btn-primary" (click)="createFieldInput()">Add another field</button>
  </div>
  <div class="form-group">
    rows:
    <input class="form-control" type="number" formControlName="rowNum" placeholder="출력수를 입력"/>
    exportType: <select class="form-control" formControlName="categoryType">
    <option *ngFor="let categoryType of categoryTypes" [value]="categoryType">{{categoryType}}</option>
  </select>
  </div>

  <hr>
  <div class="form-group">
    <button class="btn btn-primary" (click)="submitData()">Download</button>
    <button class="btn btn-primary">Preview</button>
    <button (click)="onSubmit($event)" *ngIf="!form.valid" class="btn btn-primary">서브밋버튼</button>
  </div>
</form>
<p>Form value: {{ form.value | json }}</p>
<p>Form status: {{ form.status | json }}</p>

