<form [formGroup]="form" novalidate>


  <div class="fields-wrapper">
    <div class="row">
      <div class="col">Field Name</div>
      <div class="col">Type</div>
    </div>
    <ng-container *ngFor="let rowId of rows; let i = index;">
      <app-field-input-component #fields [wrapper]="this" [rowId]="rowId" [name]="" [type]="'name'" ></app-field-input-component>
    </ng-container>
    <button #btnAdd class="btn btn-primary" (click)="createFieldInput()">Add another field</button>
    <button class="btn btn-primary" (click)="(getFields())">getFields Test</button>
  </div>


  <div class="form-group">
    rows:
    <input class="form-control" type="number" formControlName="dataLength" placeholder="출력수를 입력"/>
    exportType: <select class="form-control" formControlName="exportType">
    <option *ngFor="let exportType of exportTypes" [value]="exportType">{{exportType}}</option>
  </select>
  </div>

  <hr>
  <div class="form-group">
    <button class="btn btn-primary" (click)="onSubmit()">Preview</button>
  </div>
</form>
<p>{{result | json}}</p>

