<form >
  <app-field-input-wrapper-component></app-field-input-wrapper-component>
  <div class="form-group">
    rows:
    <input class="form-control" type="number" name="rowNum" value="{{rowNum}}" placeholder="출력수를 입력"/>
    exportType: <select class="form-control" name="exportType">
    <option *ngFor="let categoryType of categoryTypes" [value]="categoryType">{{categoryType}}</option>
  </select>
  </div>

  <hr>
  <div class="form-group">
    <button class="btn btn-primary" (click)="submitData()">Download</button>
    <button class="btn btn-primary">Preview</button>
  </div>
</form>
