<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate >

  <app-field-input-wrapper-component ></app-field-input-wrapper-component>
  <div class="form-group">
    rows:
    <input class="form-control" type="number" formControlName="rowNum" placeholder="출력수를 입력"/>
    exportType: <select class="form-control" formControlName="categoryType">
    <option *ngFor="let categoryType of categoryTypes" [value]="categoryType">{{categoryType}}</option>
  </select>
  </div>

  <hr>
  <div class="form-group">
    <button class="btn btn-primary" (click)="submitData()">Download</button>
    <button class="btn btn-primary">Preview</button>
    <button (click)="onSubmit($event)" *ngIf="!form.valid" class="btn btn-primary">서브밋버튼</button>
  </div>
</form>
<p>Form value: {{ form.value | json }}</p>
<p>Form status: {{ form.status | json }}</p>

